/* Estilos para el carousel */
.carousel-item img {
  max-height: 600px;
  object-fit: cover;
}
.carousel-control-prev,
.carousel-control-next{
  color: $color-secundario;
  background-color: $color-primario;
  @include alto (300px);
  @include ancho (50px);
  &-icon {
    background-color: $color-primario
  }
}
/* Estilos para el main */
.principal {
  @include spa (80px 20px 20px); 
}
.intro { 
  text-align: center;
  padding: 50px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @include space2 ((0,0,20px,0));
}
.intro h1 {
  @include space2 ((0,0,30px,0));
  color: $color-primario;
}
/* Estilos para la sección de productos */
.products {
  @include spa (50px 20px);
  background-color: $color-secundario;
}
.products h2 {
  text-align: center;
  @include space2 ((0,0,40px,0));
  color: $color-primario;
}
.product.card {
  border: none;
  transition: transform 0.3s;
}
.product.card:hover {
  transform: translateY(-10px);
}
.product img {
  max-height: 250px;
  object-fit: cover;
}
.product .card-title {
  font-size: 1.25rem;
  @include space2 (10px);
}
.product .card-text {
  font-size: 1rem;
  color: $color-primario
}
/* efecto sobre imagenes */
.product img {
  transition: transform 0.3s ease;
}
.product:hover img {
  transform: scale(1.1);
}
// principal de contacto//
.contact-details {
  @include spa (20px);
  background-color: $color-secundario;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @include space2 ((0,0,20px,0))
}
.contact-details h2 {
  font-size: 2rem;
  @include space2 ((0,0,20px,0));
  color: $color-primario;
}
.contact-details ul {
  list-style: none;
  @include spa (0);
}
.contact-details ul li {
  font-size: 1rem;
  color: $color-primario;
  @include space2 ((0,0,10px,0));
}
.contact-details ul li strong {
  color: $color-primario
}
//quienes somos//
.about-us {
  padding: 20px;
  background-color: $color-secundario;
  @include space2 ((0,0,20px,0));
  & h2 {
    font-size: 2rem;
    @include space2 ((0,0,20px,0));
    color: $color-primario
  }
}
.about-us p {
  font-size: 1rem;
  color: $color-primario;
  @include space2 ((0,0,20px,0));
  line-height: 1.6;
}
.about-us-image {
  max-width: 100%;
  @include alto (auto);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @include space2 (20px);
}
.main-image{
      max-width: 100%;
      @include alto (auto);
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      @include space2 (20px);
}
/* Estilos para la sección de productos */
.product-grid {
  @include spa (20px 0);
}
.product {
  text-align: center;
 @include space2 ((0,0,20px,0));
}
.product-image {
  max-width: 100%;
  @include alto (auto);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}
.product:hover .product-image {
  transform: scale(1.05);
}
.product-title {
  font-size: 1.2rem;
  @include space2 (10px);
  color: $color-primario;
}
.product-price {
  font-size: 1rem;
  color: $color-primario;
}
.filters {
  @include space2 ((0,0,20px,0));
  text-align: center;
}
.filters .btn-group-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filters .btn {
  margin: 5px 0;
  background-color: $color-primario;
  color: $color-secundario;
}
.filters .btn:hover {
  background-color: $color-secundario;
}