/* Estilos para el carousel */
.carousel-item img {
  max-height: 600px;
  object-fit: cover;
  @include space2 ((0,0,40px,0));
  
}
.carousel-control-prev,
.carousel-control-next{
  color: $color-secundario;
  background-color: $color-primario;
  @include alto (300px);
  @include ancho (50px);
  &-icon {
    background-color: $color-primario
  }
}
/* Estilos para el main */
.principal {
  @include spa (125px 20px 20px); 
}
.intro { 
  text-align: center;
  padding: 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @include space2 ((0,0,20px,0));
}
.intro h1 {
  @include space2 ((0,0,40px,0));
  color: $color-primario;
  @include spa (20px);
  border: 3px solid $color-secundario;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Estilos para la sección de productos */
.products {
  @include spa (50px 20px);
  background-color: $color-secundario;
}
.titulo-principal {
  text-align: center;
  @include space2 ((0,0,40px,0));
  color: $color-primario;
  @include spa (10px);
  border: 3px solid $color-secundario;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
 }

.product.card {
  border: none;
  transition: transform 0.3s;
}
.product.card:hover {
  transform: translateY(-10px);
}
.product img {
  max-height: 250px;
  object-fit: contain;
  @include space2 (20px);
}
.product .card-title {
  font-size: 1.25rem;
}
.product .card-text {
  font-size: 1rem;
  color: $color-primario
}
/* efecto sobre imagenes */
.product img {
  transition: transform 0.3s ease;
}
.product:hover img {
  transform: scale(1.1);
}
// principal de contacto//
.contact-details {
  @include spa (20px);
  background-color: $color-secundario;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @include space2 ((0,0,20px,0));
& ul {
  list-style: none;
  @include spa (0);
}
& li {
  @include space2 ((0,0,10px,0));
}
}
//quienes somos//
.about-us {
  padding: 20px;
  background-color: $color-secundario;
  @include space2 ((0,0,20px,0));
  & h2 {
    color: $color-primario
  }
&-image {
  max-width: 100%;
  @include alto (auto);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
}
.main-image{
      max-width: 100%;
      @include alto (auto);
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      @include space2 (20px);
}
/* Estilos para la sección de productos */
.product {
  text-align: center;
 @include space2 ((0,0,20px,0));
&-image {
  max-width: 100%;
  @include alto (auto);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}
&:hover &-image {
  transform: scale(1.05); 
}
&-title {
  @include space2 (10px);
  color: $color-primario;
}
}
.filters {
  @include space2 ((0,0,20px,0));
  text-align: center;
& .btn-group-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
& .btn {
  margin: 5px 0;
}
}
/* Estilos para la Sección de FAQs */
.container {
  max-width: 800px;
  margin: 0 auto;
  @include spa((0, 20px));
}
.titulo-principal{
  text-align: center;
    margin-bottom: 20px;
}
.faqs {
  background-color: $color-secundario;
  color: $color-primario;
  @include spa (50px);
  }
  .faqs-item {
    margin-bottom: 10px;
    transition: (all, 0.3s, ease-in-out);
    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    }
    .faqs-question {
      @include spa(15px);
      margin: 0;
      transition: (background-color, 0.3s, ease-in-out);
      &:hover {
        background-color: $color-primario;
        color: $color-secundario;
      }
    }
    .faqs-answer {
      display: none;
      @include spa(15px);
      border-top: 1px solid $color-primario;
      &.active {
        display: block;
      }
    }
/** animaciones**/
.titulo-principal {
  animation-name: move-title;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: infinite;
}
@keyframes move-title {
0%{
  transform: translateX(0);
  }
25%{
  transform: translateX(20px);
  }
  50%{
    transform: translateX(0);
    }
}

