//tipografias-fonts
$titulos: Arial, sans-serif;
//colores
$color-primario: #343a40;
$color-secundario: #fff;
$background-color: #f4f4f4;
$hover-color: #444;
$color-de-texto: #333;
$link-hover-color: #ddd;
//